* {
    box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
	margin: 0;
}

.col {
  padding: 0;
  margin: 0;
}

.container {
  font-family: $brand-font;
  background: $background-colour;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.content-container {
  margin-top: calc(48px + 16px);
  margin-left: 48px;
  transition: margin-left linear .7s;
}

.container-narrow {
  display: block;
}

.sectionContainer {
  max-width: 640px;
  margin: 0 auto;
  padding: 24px 0 32px;
}

.tableStandard {
  border-collapse: collapse;
  font-size: $page-font-size;
  text-align: left;

  th {
      padding-top: 8px;
      color: $supportingColour3;
      
  }

  td {
      padding-top: 8px;
  }

  tr {
      border-bottom: solid 1px $basic-hover;
  }
}

@for $i from 1 through 12 {
    .col-sm-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }

  @mixin grid($prefix) {
    @for $i from 1 through 12 {
      .col-#{$prefix}-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        max-width: $width;
      }
    }
  }

  @media(max-width: 767px) {
    @include grid('sm');
  }
  
  @media(min-width: 768px) {
    @include grid('md');
  }
  
  @media(min-width: 992px) {
    @include grid('lg');
  }
  
  @media(min-width: 1200px) {
    @include grid('xl');
  }