$brand-font: 'Open Sans', sans-serif;
$page-font-size: 12px;
$small-font-size: 10px;

$attract-colour: #f58220;
$attract-hover: #ffa200;
$basic-colour: #333;
$basic-hover: #979797;
$marker-colour: #04ae00;
$positive-notification-hover: #74b67a;
$positive-notification: #96cc9b;
$negative-notification-hover: #de5252;
$negative-notification: #ec7171;
$link-colour: #56819f;
$attention-colour: #f00;
$background-colour: #f5f5f2;
$supportingColour1: #fff;
$supportingColour2: #000;
$supportingColour3: rgb(75, 75, 75);

.linkColour {
    color: $link-colour;
}

.dot-blue {
    background-color: $link-colour;
}

.dot-orange {
    background-color: $attract-colour;
}

.dot-green {
    background-color: $marker-colour;
}