$attract-colour: #f58220;
$attract-hover: #ffa200;
$basic-colour: #333;
$basic-hover: #979797;
$marker-colour: #04ae00;
$positive-notification-hover: #74b67a;
$positive-notification: #96cc9b;
$negative-notification-hover: #de5252;
$negative-notification: #ec7171;
$link-colour: #56819f;
$attention-colour: #f00;