@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'layout';
@import 'components/buttons';
@import 'components/text-styles';
@import 'pages/links';

.container {
    font-family: $brand-font;
    background: $background-colour;
    max-width: 1280px;
    margin: 0 auto;
}

.content-container {
    margin-top: 48px;
    padding-top: 16px;
    
}

.right-side {
    width: 100%;
}

section {
    background: #fff;
    /* missig bottom margin or border */
    box-shadow: 1px 1px 3px #000;
    margin: 0 1em 1em;

    h2 {
        margin: 0;
        padding: 0;
    }
}

.underline {
    padding: 1em 0;
    border-bottom: 1px solid $basic-hover;
}

.center {
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
}

nav {
    
    position: fixed;
    top: 0;
    overflow: hidden;
    background: #fff;
    border-bottom: solid 1px $basic-hover;

    ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        line-height: 3em;
        padding: 0 1em;
        text-decoration: none;
    }

    i {
        padding: 16px;
    }
}

.logo {
    background: $basic-colour;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.sidebar {
    height: 100vh;
    width: 100%;
    background: $basic-colour;
    display: none;
    margin-top: 48px;
    padding-top: 16px;
}

.show {
    display: block;
}

.sidebar-links {

    ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

        li {
            display: block;
        }

        a {
            display: block;
            line-height: 2em;
            padding: 0;
            text-decoration: none;
            color: $basic-hover;
            font-size: $small-font-size;
        }

        i {
            padding: 0 16px;
        }
    }
}

.chart {
    img {
        display: block;
    }
}

@media not all and (hover:none) {
    .sidebar-links a:hover {
        background: $basic-hover;
        color: #fff;
    }

    .logo a:hover {
        background: $basic-hover;
        color: #fff;   
    }
}