.btn {
    width: auto;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    color: $supportingColour1;
    white-space: nowrap;
    font-size: $page-font-size;

}

.btn-sq {
    @extend .btn;
    width: 40px;
}

.btn-long {
    @extend .btn;
    width: 126px;
}

.btn-basic {
    @extend .btn;
    background-color: $basic-colour;
}

.btn-sq-basic {
    @extend .btn-sq;
    background-color: $basic-colour;
}

.btn-long-basic {
    @extend .btn-long;
    background-color: $basic-colour;
}

.btn-attract {
    @extend .btn;
    background-color: $attract-colour;
}

.btn-sq-attract {
    @extend .btn-sq;
    background-color: $attract-colour;
}

.btn-long-attract {
    @extend .btn-long;
    background-color: $attract-colour;
}