.table-container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 12px 0;
}

.table-container {
    width: 100%;
    max-width: 640px;

    tr {
    border-top: solid 1px $basic-colour;
    height: 3em;
    }

    th {
        padding-right: 240px;
    }

    td {
        padding-right: 71px;
    }
}

.linksTable {
    text-align: center;
    padding: 12px 0;

    a {
        display: block;
        color: $link-colour;

        &:visited {
            color: $link-colour;
        }
    }
}

@media not all and (hover:none) {

    .table-container {
        tr {
            i {
                visibility: hidden;
            }
        }
    }

    .table-container tr:hover {
        background-color: $basic-hover;

        i {
            visibility: visible;
        }
    }
}