.myForm {
    // width: 100%;
    // margin: 0 auto;
    padding: 24px 0;
    font-size: $page-font-size;

    form {

        span {
            display: block;
            width: 100%;
            margin-bottom: 24px;
        }

        .formButton {
            text-align: center;

            button {
                color: $supportingColour1; //why color set in -buttons.scss has been reset
                margin-top: 12px;
            }
        }
    }

    .formStyling {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;

        label {
            grid-column: 1/2;
            color: $basic-hover;
        }

        input {
            grid-column: 2/3;
            padding: 5px 8px;
        }
    }
}